#root {
    display: flex;
    justify-content: center;
}

.notes-div {
    width: 1200px;
}

.input-form {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.notes-titles {
    width:100%;
    display: flex;
    justify-content: space-between;
}

.note-info {
    margin: 5px;
    margin-left: 35px;
}

h3 {
    width: 205px;
    text-align: center;
}

h3:first-child {
    width: 156.41px;
}

.form-button {
    width: 205px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    border: 1px black solid;

}

.form-button:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    border: 2px black solid;

}

.note-list {
    box-sizing: border-box;
    border: 1px black solid;
}

.note {
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
}

.note-edit {
    cursor: pointer;
}

.note-delete {
    cursor: pointer;
}

.note_actions {
    width: 205px;
    display: flex;
    justify-content: space-around;
}